---
layout: default
title: "Starry Gallery"
permalink: /gallery/
---

<!-- <style type="text/css">
h2 {
  font-family: 'Libre Baskerville', 'Times New Roman', Times, serif;
}
</style> -->
  
<div class="gallery">
  <div class="gallery-header" style="align-items: center;">
    <div class="gallery-header-leftline"></div>
    <div class="gallery-header-container">
      <div class="gallery-header-aboveline"></div>
      <div><span class="gallery-header-title">Starry</span></div>
      <div><span class="gallery-header-title">Gallery</span></div>
      <div class="gallery-header-underline"></div>
    </div>
    <div class="gallery-header-rightline"></div>
  </div>

  <details class="gallery-details" open="open">
    <summary class="gallery-details-summary">帖子</summary>
    <div>
      {% assign prev_year = "0" %}
      {% assign count = 0 %}

      {% for post in site.posts reversed %}
        {% if post.archived == true %}
          {% assign this_year = post.date | date: "%Y" %}
          {% if count == 0 %}
            <details open="open">
              <summary class="gallery-details-sub-summary">{{ this_year }}</summary><div>
            {% assign prev_year = this_year %}
          {% endif %}  
          {% if this_year != prev_year %}
            </div></details>
            <details open="open">
              <summary class="gallery-details-sub-summary">{{ this_year }}</summary><div>
            {% assign prev_year = this_year %}
          {% endif %}
          <a class="gallery-item" href="{{ post.url | prepend: site.baseurl }}">
            <div style="overflow: hidden; text-overflow: ellipsis;">
              <span class="gallery-item-title">{{ post.title }}</span>
              <div class="gallery-item-line"></div>
            </div>
            <span class="gallery-item-time">
              <time datetime="{{ post.date }}">
                {{ post.date | date: "%h %d" }}
              </time>
            </span>
          </a>
          
          {% assign count = count | plus: 1 %}
        {% endif %}
      {% endfor %}
      {% if count != 0 %}
        </div></details>
      {% endif %}
    </div>
  </details>

  <details class="gallery-details" open="open">
    <summary class="gallery-details-summary">Wiki</summary>
    <div>
      {% for post in site.wiki %}
        {% if post.archived == true %}
        <a class="gallery-item" href="{{ post.url | prepend: site.baseurl }}">
          <div style="overflow: hidden; text-overflow: ellipsis;">
            <span class="gallery-item-title">{{ post.title }}</span>
            <div class="gallery-item-line"></div>
          </div>
          <span class="gallery-item-time">
            <!--  -->
          </span>
        </a>
        {% endif %}
      {% endfor %}
    </div>
  </details>

</div>