---
layout: default
title: "Wiki"
permalink: /wiki/
---

<div class="wiki">
  <div class="wiki-header">
    <h1 class="wiki-header-title">{{ page.title }}</h1>
    <div class="wiki-header-line"></div>  </div>

  {% for wiki in site.wiki %}
    {% if wiki.title != "Wiki Template" and wiki.archived != true %}
      <div>
        <a class="wiki-post" href="{{ wiki.url | prepend: site.baseurl }}">
          <div style="overflow: hidden; text-overflow: ellipsis;">
            <span class="wiki-post-title">{{ wiki.title }}</span>
            <div class="wiki-post-line"></div>
          </div>
        </a>
      </div>
    {% endif %}
  {% endfor %}

  <div class="catalogue-line" style="margin:30px"></div>

  {% for wiki in site.wiki %}
    {% if wiki.archived == true %}
      <div>
        <a class="wiki-post" href="{{ wiki.url | prepend: site.baseurl }}">
          <div style="overflow: hidden; text-overflow: ellipsis;">
            <span class="wiki-post-title-archived">{{ wiki.title }}</span>
            <div class="wiki-post-line"></div>
          </div>
        </a>
      </div>
    {% endif %}
  {% endfor %}
</div>
