<nav class="nav">
  <div class="nav-container">
    <a href="{{ site.baseurl }}/">
      <h2 class="nav-title">{{ site.title }}</h2>
    </a>
    <ul>
      <li style="font-size: 1.2em"><a href="{{ site.baseurl }}/">帖子</a></li>
      <li style="font-size: 1.2em"><a href="{{ '/wiki' | prepend: site.baseurl }}">Wiki</a></li>
      <li><a href="{{ '/tags' | prepend: site.baseurl }}">标签</a></li>
      <li><a href="{{ '/gallery' | prepend: site.baseurl }}">归档</a></li>
      <li><a href="{{ '/about' | prepend: site.baseurl }}">关于</a></li>
    </ul>
  </div>
</nav>
