<nav class="nav">
  <div class="nav-container">
    <a href="{{ site.baseurl }}/">
      <h2 class="nav-title">{{ site.title }}</h2>
    </a>
    <ul>
      <li><a href="{{ site.baseurl }}/">帖子</a></li>
      <li><a href="{{ '/wiki' | prepend: site.baseurl }}">Wiki</a></li>
      <li><a href="{{ '/tags' | prepend: site.baseurl }}">标签</a></li>
      <li><a href="{{ '/gallery' | prepend: site.baseurl }}">归档</a></li>
      <li><a href="{{ '/about' | prepend: site.baseurl }}">关于</a></li>
      <li><a href="{{ '/search' | prepend: site.baseurl }}">
        <object data="{{ assets_base_url }}/assets/icons/search.svg" type="image/svg+xml" style="width:18px;height:18px;pointer-events:none;margin-bottom:-4px;"></object>
        <!-- <embed src="{{ assets_base_url }}/assets/icons/search.svg" style="width:15px;height:15px;"> -->
      </a></li>
    </ul>
  </div>
</nav>
