<nav class="nav">
  <div class="nav-container">
    <a href="{{ site.baseurl }}/">
      <h2 class="nav-title">{{ site.title }}</h2>
    </a>
    <ul>
      <li><a href="{{ site.baseurl }}/">帖子</a></li>
      <li><a href="{{ '/wiki' | prepend: site.baseurl }}">Wiki</a></li>
      <li><a href="{{ '/docs' | prepend: site.baseurl }}">Docs</a></li>
      <li><a href="{{ '/tags' | prepend: site.baseurl }}">标签</a></li>
      <li><a href="{{ '/gallery' | prepend: site.baseurl }}">归档</a></li>
      <li><a href="{{ '/about' | prepend: site.baseurl }}">关于</a></li>
      <li><a href="{{ '/search' | prepend: site.baseurl }}">
        <img src="{{ assets_base_url }}/assets/icons/search.svg" style="width:20px;height:20px;pointer-events:none;margin-bottom:-4px" class="nav-search"></object>
      </a></li>
    </ul>
  </div>
</nav>
