<!-- <img class="widget-pumpkin" src="{{ site.base_url }}/assets/themes/halloween/pumpkin.png" style="left: 10%; top: 40%; height: 400px;"></img>
<img class="widget-pumpkin" src="{{ site.base_url }}/assets/themes/halloween/pumpkin.png" style="left: 20%; top: 0%; height: 300px;"></img>
<img class="widget-pumpkin" src="{{ site.base_url }}/assets/themes/halloween/pumpkin.png" style="left: 50%; top: 30%; height: 300px;"></img>
<img class="widget-pumpkin" src="{{ site.base_url }}/assets/themes/halloween/pumpkin.png" style="right: 10%; top: 0%; height: 500px;"></img>
<img class="widget-pumpkin" src="{{ site.base_url }}/assets/themes/halloween/pumpkin.png" style="right: 0%; top: 50%; height: 400px;"></img> -->

