* {
  @include box-sizing;
  line-height: 1.5;
}

html,
body {
  background: url('/assets/bg.jpg') center center no-repeat fixed;
  background-size: auto 100vh;
  @supports (-webkit-touch-callout: none) {
    background: url('image.jpg') center center no-repeat scroll;
    background-size: auto 100vh;
  }

  background-color: rgba(255, 255, 255, .85);
  background-blend-mode: lighten;

  color: $default-color;
  margin: 0;
  padding: 0;

  @media (prefers-color-scheme: dark) {
    color: $dark-default-color;
    background-color: rgba($color: $dark-white, $alpha: .85);
    background-blend-mode: darken;
  }
}

html {
  // font-family: $serif-primary;
  font-size: 14px;
  overflow-y: scroll;

  @media (min-width: 600px) {
    font-size: 16px;
  }
}

body {
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $default-shade;
  font-family: $sans-serif;
  line-height: normal;
  @media (prefers-color-scheme: dark) {
    color: $dark-default-shade;
  }
}

a {
  color: $ichigo;
  text-decoration: none;

  @media (prefers-color-scheme: dark) {
    color: $ikkonzome;
  }
}

blockquote {
  border-left: .25rem solid $grey-2;
  color: $grey-1;
  margin: .8rem 0;
  padding: .5rem 1rem;

  p:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 600px) {
    padding: 0 5rem 0 1.25rem;
  }

  @media (prefers-color-scheme: dark) {
    border-left: .25rem solid $dark-grey-2;
    color: $dark-grey-1;
  }
}

img {
  display: block;
  margin: 0 0 1rem;
  max-width: 100%;
}

td {
  vertical-align: top;
}

.bottom-right-floating {
  background: $default-tint;
  color: $white;
  width: 40px;
  height: 40px;
  position: fixed;
  border-width: 50%;
  border: none;
  right: 32px;
  bottom: 32px;
  left: unset;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;

  @media (prefers-color-scheme: dark) {
    background: $dark-default-tint;
    color: $dark-white;
  }
}

.bottom-right-floating:active {
  background-color: $grey-1;
  @media (prefers-color-scheme: dark) {
    background-color: $dark-grey-1;
  }
}

.bottom-right-floating-icon {
  display: block;
  width: 30px;
  justify-content: center;
  height: 30px;
  pointer-events: none;
}

.sakana {
  position: fixed;
  display: flex;
  left: 0px;
  bottom: 40px;
}

table {
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 5px;
  height: 3px;
  border-radius: 1.5px;
  
  background-color: $white;
  @media (prefers-color-scheme: dark) {
    background: $dark-white;
  }
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  // TODO hover 的过渡动画
  // @include transition(all 1s ease-out);

  background-color: $default-tint;
  @media (prefers-color-scheme: dark) {
    background-color: $dark-default-tint;
  }

  &:hover {
    background-color: $grey-1;
    @media (prefers-color-scheme: dark) {
      background-color: $dark-grey-1;
    }
  }
}
