.pagination {
  border-top: .5px solid $grey-2;
  font-family: $serif-secondary;
  padding-top: 2rem;
  position: relative;
  text-align: center;

  @media (prefers-color-scheme: dark) {
    border-top: .5px solid $dark-grey-2;
  }

  span {
    color: $default-shade;
    font-size: 1.1rem;

    @media (prefers-color-scheme: dark) {
      color: $dark-default-shade;
    }
  }

  .top {
    @include transition(all .3s ease-out);
    color: $default-color;
    font-family: $sans-serif;
    font-size: 1.1rem;
    opacity: .6;

    @media (prefers-color-scheme: dark) {
      color: $dark-default-color;
    }

    &:hover {
      opacity: 1;
    }
  }

  .arrow {
    @include transition(all .3s ease-out);
    color: $default-color;
    position: absolute;

    @media (prefers-color-scheme: dark) {
      color: $dark-default-color;
    }

    &:hover,
    &:focus {
      opacity: .6;
      text-decoration: none;
    }
  }

  .left {
    left: 0;
  }

  .right {
    right: 0;
  }
}
