.home-pagination-top,
.home-pagination-bottom,
.pagination {
  font-family: $serif-secondary;
  padding-top: 1rem;
  position: relative;
  text-align: center;

  @media (prefers-color-scheme: dark) {
    border-top: .5px solid $dark-grey-2;
  }

  span {
    color: $default-shade;
    font-size: 1.1rem;

    @media (prefers-color-scheme: dark) {
      color: $dark-default-shade;
    }
  }

  .top {
    font-family: $sans-serif;
    font-size: 1rem;
  }

  .arrow {
    position: absolute;
  }

  .top, .arrow {
    @include transition(all .3s ease-out);
    color: $default-color;

    @media (prefers-color-scheme: dark) {
      color: $dark-default-color;
    }

    &:hover,
    &:focus {
      color: $preset4;

      @media (prefers-color-scheme: dark) {
        color: $preset3;
      }
    }
  }

  .left {
    left: 0;
  }

  .right {
    right: 0;
  }
}
