.highlight .hll { background-color: #ffc; }
.highlight .c { color: #999; } /* Comment */
.highlight .err { color: #a00; background-color: #faa } /* Error */
.highlight .k { color: #069; } /* Keyword */
.highlight .o { color: #555 } /* Operator */
.highlight .cm { color: #09f; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #099 } /* Comment.Preproc */
.highlight .c1 { color: #999; } /* Comment.Single */
.highlight .cs { color: #999; } /* Comment.Special */
.highlight .gd { background-color: #fcc; border: 1px solid #c00 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #f00 } /* Generic.Error */
.highlight .gh { color: #030; } /* Generic.Heading */
.highlight .gi { background-color: #cfc; border: 1px solid #0c0 } /* Generic.Inserted */
.highlight .go { color: #aaa } /* Generic.Output */
.highlight .gp { color: #009; } /* Generic.Prompt */
.highlight .gs { } /* Generic.Strong */
.highlight .gu { color: #030; } /* Generic.Subheading */
.highlight .gt { color: #9c6 } /* Generic.Traceback */
.highlight .kc { color: #069; } /* Keyword.Constant */
.highlight .kd { color: #069; } /* Keyword.Declaration */
.highlight .kn { color: #069; } /* Keyword.Namespace */
.highlight .kp { color: #069 } /* Keyword.Pseudo */
.highlight .kr { color: #069; } /* Keyword.Reserved */
.highlight .kt { color: #078; } /* Keyword.Type */
.highlight .m { color: #f60 } /* Literal.Number */
.highlight .s { color: #d44950 } /* Literal.String */
.highlight .na { color: #4f9fcf } /* Name.Attribute */
.highlight .nb { color: #366 } /* Name.Builtin */
.highlight .nc { color: #0a8; } /* Name.Class */
.highlight .no { color: #360 } /* Name.Constant */
.highlight .nd { color: #99f } /* Name.Decorator */
.highlight .ni { color: #999; } /* Name.Entity */
.highlight .ne { color: #c00; } /* Name.Exception */
.highlight .nf { color: #c0f } /* Name.Function */
.highlight .nl { color: #99f } /* Name.Label */
.highlight .nn { color: #0cf; } /* Name.Namespace */
.highlight .nt { color: #2f6f9f; } /* Name.Tag */
.highlight .nv { color: #033 } /* Name.Variable */
.highlight .ow { color: #000; } /* Operator.Word */
.highlight .w { color: #bbb } /* Text.Whitespace */
.highlight .mf { color: #f60 } /* Literal.Number.Float */
.highlight .mh { color: #f60 } /* Literal.Number.Hex */
.highlight .mi { color: #f60 } /* Literal.Number.Integer */
.highlight .mo { color: #f60 } /* Literal.Number.Oct */
.highlight .sb { color: #c30 } /* Literal.String.Backtick */
.highlight .sc { color: #c30 } /* Literal.String.Char */
.highlight .sd { color: #c30; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #c30 } /* Literal.String.Double */
.highlight .se { color: #c30; } /* Literal.String.Escape */
.highlight .sh { color: #c30 } /* Literal.String.Heredoc */
.highlight .si { color: #a00 } /* Literal.String.Interpol */
.highlight .sx { color: #c30 } /* Literal.String.Other */
.highlight .sr { color: #3aa } /* Literal.String.Regex */
.highlight .s1 { color: #c30 } /* Literal.String.Single */
.highlight .ss { color: #fc3 } /* Literal.String.Symbol */
.highlight .bp { color: #366 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #033 } /* Name.Variable.Class */
.highlight .vg { color: #033 } /* Name.Variable.Global */
.highlight .vi { color: #033 } /* Name.Variable.Instance */
.highlight .il { color: #f60 } /* Literal.Number.Integer.Long */

.css .o,
.css .o + .nt,
.css .nt + .nt { color: #999; }


@media (prefers-color-scheme: dark) {
  .highlight table td { padding: 5px; }
  .highlight table pre { margin: 0; }
  .highlight .gh {
    color: #999999;
  }
  .highlight .sr {
    color: #f6aa11;
  }
  .highlight .go {
    color: #888888;
  }
  .highlight .gp {
    color: #555555;
  }
  .highlight .gs {
  }
  .highlight .gu {
    color: #aaaaaa;
  }
  .highlight .nb {
    color: #f6aa11;
  }
  .highlight .cm {
    color: #75715e;
  }
  .highlight .cp {
    color: #75715e;
  }
  .highlight .c1 {
    color: #75715e;
  }
  .highlight .cs {
    color: #75715e;
  }
  .highlight .c, .highlight .ch, .highlight .cd, .highlight .cpf {
    color: #75715e;
  }
  .highlight .err {
    color: #960050;
  }
  .highlight .gr {
    color: #960050;
  }
  .highlight .gt {
    color: #960050;
  }
  .highlight .gd {
    color: #49483e;
  }
  .highlight .gi {
    color: #49483e;
  }
  .highlight .ge {
    color: #49483e;
  }
  .highlight .kc {
    color: #66d9ef;
  }
  .highlight .kd {
    color: #66d9ef;
  }
  .highlight .kr {
    color: #66d9ef;
  }
  .highlight .no {
    color: #66d9ef;
  }
  .highlight .kt {
    color: #66d9ef;
  }
  .highlight .mf {
    color: #ae81ff;
  }
  .highlight .mh {
    color: #ae81ff;
  }
  .highlight .il {
    color: #ae81ff;
  }
  .highlight .mi {
    color: #ae81ff;
  }
  .highlight .mo {
    color: #ae81ff;
  }
  .highlight .m, .highlight .mb, .highlight .mx {
    color: #ae81ff;
  }
  .highlight .sc {
    color: #ae81ff;
  }
  .highlight .se {
    color: #ae81ff;
  }
  .highlight .ss {
    color: #ae81ff;
  }
  .highlight .sd {
    color: #e6db74;
  }
  .highlight .s2 {
    color: #e6db74;
  }
  .highlight .sb {
    color: #e6db74;
  }
  .highlight .sh {
    color: #e6db74;
  }
  .highlight .si {
    color: #e6db74;
  }
  .highlight .sx {
    color: #e6db74;
  }
  .highlight .s1 {
    color: #e6db74;
  }
  .highlight .s, .highlight .sa, .highlight .dl {
    color: #e6db74;
  }
  .highlight .na {
    color: #a6e22e;
  }
  .highlight .nc {
    color: #a6e22e;
  }
  .highlight .nd {
    color: #a6e22e;
  }
  .highlight .ne {
    color: #a6e22e;
  }
  .highlight .nf, .highlight .fm {
    color: #a6e22e;
  }
  .highlight .vc {
    color: #ffffff;
    background-color: #272822;
  }
  .highlight .nn {
    color: #ffffff;
    background-color: #272822;
  }
  .highlight .nl {
    color: #ffffff;
    background-color: #272822;
  }
  .highlight .ni {
    color: #ffffff;
    background-color: #272822;
  }
  .highlight .bp {
    color: #ffffff;
    background-color: #272822;
  }
  .highlight .vg {
    color: #ffffff;
    background-color: #272822;
  }
  .highlight .vi {
    color: #ffffff;
    background-color: #272822;
  }
  .highlight .nv, .highlight .vm {
    color: #ffffff;
    background-color: #272822;
  }
  .highlight .w {
    color: #ffffff;
    background-color: #272822;
  }
  .highlight {
    color: #ffffff;
    background-color: #272822;
  }
  .highlight .n, .highlight .py, .highlight .nx {
    color: #ffffff;
    background-color: #272822;
  }
  .highlight .ow {
    color: #f92672;
  }
  .highlight .nt {
    color: #f92672;
  }
  .highlight .k, .highlight .kv {
    color: #f92672;
  }
  .highlight .kn {
    color: #f92672;
  }
  .highlight .kp {
    color: #f92672;
  }
  .highlight .o {
    color: #f92672;
  }

}