{{ define "main" }}
<div class="wikipage">
  <header class="wikipage-hero">
    <p class="wikipage-kicker">Wiki</p>
    <h1 class="wikipage-title">{{ .Title }}</h1>
    {{ if .Params.description }}
      <p class="wikipage-description">{{ .Params.description }}</p>
    {{ end }}
    <div class="wikipage-meta">
      <span>作者：{{ .Params.author | default site.Params.author }}</span>
      {{ if .Params.source }}
        <span>来源：<a href="{{ .Params.source }}">{{ .Params.source }}</a></span>
      {{ end }}
      {{ if .Params.archived }}
        <span class="wikipage-meta-archived">已归档</span>
      {{ end }}
    </div>
  </header>
  <div class="wikipage-toc">
    <div id="toc"></div>
  </div>
  {{ .Content }}
  <attr id="__bottom"></attr>
</div>

{{ if .Params.comments }}
  {{ partial "disqus.html" . }}
{{ end }}

<div class="pagination">
  {{ with .PrevInSection }}
    <a href="{{ .RelPermalink }}" class="left arrow">&#8678;</a>
  {{ else }}
    <a class="disabled">&#8678;</a>
  {{ end }}
  <button class="top back-to-top">回到顶部</button>
  {{ with .NextInSection }}
    <a href="{{ .RelPermalink }}" class="right arrow">&#8680;</a>
  {{ else }}
    <a class="disabled">&#8680;</a>
  {{ end }}
</div>

{{ partial "goto-top.html" . }}
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
<script src="{{ "assets/js/toc.js" | relURL }}"></script>
<script>
$(document).ready(function () { $('#toc').toc(); });
</script>
{{ end }}
