{{ define "main" }}
<div class="docs">
  <div class="docs-header">
    <h1 class="docs-header-title">{{ .Title }}</h1>
    <div class="docs-header-line"></div>
  </div>
  <ul>
  {{- $docsDir := "static/docs" -}}
  {{- if fileExists $docsDir -}}
    {{- range (readDir $docsDir) -}}
      {{- if or (strings.HasSuffix .Name ".pdf") (strings.HasSuffix .Name ".typ") (strings.HasSuffix .Name ".tex") -}}
      {{- $base := .Name -}}
      {{- $base = strings.TrimSuffix ".pdf" $base -}}
      {{- $base = strings.TrimSuffix ".typ" $base -}}
      {{- $base = strings.TrimSuffix ".tex" $base -}}
      {{- $path := printf "docs/%s" .Name -}}
      <li class="docs-item">
        <a class="docs-item-pdf" href="{{ $path | relURL }}">{{ replace $base "_" " " }}</a>
        {{- if strings.HasSuffix .Name ".typ" -}}
        <span class="docs-item-src">(.typ)</span>
        {{- else if strings.HasSuffix .Name ".tex" -}}
        <span class="docs-item-src">(.tex)</span>
        {{- else -}}
        {{- $typPath := printf "static/docs/%s.typ" $base -}}
        {{- $texPath := printf "static/docs/%s.tex" $base -}}
        {{- if fileExists $typPath -}}
        <a class="docs-item-src" href="{{ printf "docs/%s.typ" $base | relURL }}">src</a>
        {{- else if fileExists $texPath -}}
        <a class="docs-item-src" href="{{ printf "docs/%s.tex" $base | relURL }}">src</a>
        {{- end -}}
        {{- end -}}
      </li>
      {{- end -}}
    {{- end -}}
  {{- end -}}
  </ul>
</div>
{{ end }}
