{{ define "main" }}
<div class="tags">
  <div class="tags-header">
    <h1 class="tags-header-title">{{ .Title }}</h1>
    <div class="tags-header-line"></div>
  </div>
  <div class="tags-clouds">
    {{ range .Data.Terms.Alphabetical }}
    <a href="#{{ .Name | anchorize }}">{{ .Name }}</a>
    {{ end }}
  </div>
  {{ range .Data.Terms.Alphabetical }}
  <div class="tags-item" id="{{ .Name | anchorize }}">
    <svg class="tags-item-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <path d="M20.59 13.41l-7.17 7.17a2 2 0 0 1-2.83 0L2 12V2h10l8.59 8.59a2 2 0 0 1 0 2.82z"></path>
      <line x1="7" y1="7" x2="7.01" y2="7"></line>
    </svg>
    <h2 class="tags-item-label">{{ .Name }}</h2>
    {{ range .Pages.ByDate.Reverse }}
    <a class="tags-post" href="{{ .RelPermalink }}">
      <div style="overflow: hidden; text-overflow: ellipsis;">
        <span class="tags-post-title">{{ .Title }}</span>
        <div class="tags-post-line"></div>
      </div>
      <span class="tags-post-meta">
        <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time>
      </span>
    </a>
    {{ end }}
  </div>
  {{ end }}
</div>
{{ end }}
