<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ if .IsHome }}{{ site.Title }}{{ else if .Title }}{{ .Title }} &middot; {{ site.Title }}{{ else }}{{ site.Title }}{{ end }}</title>
<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ site.Params.description }}{{ end }}">
<link rel="canonical" href="{{ .Permalink }}">
{{ $scss := resources.Get "scss/main.scss" }}
{{ if $scss }}
  {{ $style := $scss | css.Sass | resources.Minify }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">
{{ end }}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,500;0,9..144,600;0,9..144,700;1,9..144,500&family=Figtree:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Noto+Serif+SC:wght@400;500;600;700&display=optional" rel="stylesheet">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "assets/favicon-32x32.png" | relURL }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "assets/favicon-16x16.png" | relURL }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ "assets/apple-touch-icon.png" | relURL }}">
<link rel="alternate" type="application/rss+xml" title="{{ site.Title }}" href="{{ "index.xml" | absURL }}">
<script src="https://kit.fontawesome.com/c8c8b81734.js" crossorigin="anonymous"></script>
