.wiki {
  &-header {
    &-title {
      color: $default-shade;
      font-family: $serif-primary;
      font-size: 3rem;
      margin: 1rem 0;
      margin-top: 2rem;
      text-align: center;

      @media (prefers-color-scheme: dark) {
        color: $dark-default-shade;
      }
    }

    &-line {
      border-top: 0.4rem solid $default-shade;
      display: block;
      margin: 0 auto 3rem;
      width: 4rem;

      @media (prefers-color-scheme: dark) {
        border-top: 0.4rem solid $dark-default-shade;
      }
    }
  }

  &-post {
    color: $default-color;
    display: flex;
    justify-content: center;
    padding: .6em 0;

    @media (prefers-color-scheme: dark) {
      color: $dark-default-color;
    }

    &-title {
      color: $default-color;
      font-family: $serif-primary;
      font-size: 1.2em;
      text-decoration: none;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      @media (prefers-color-scheme: dark) {
        color: $dark-default-color;
      }
    }

    &-title-archived {
      color: $grey-1;
      font-family: $serif-primary;
      font-size: 1.2em;
      text-decoration: none;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      @media (prefers-color-scheme: dark) {
        color: $dark-grey-1;
      }
    }

    &-line {
      @include transition(all 0.3s ease-out);
      border-top: 0.15rem solid $preset3;
      width: 0;
      margin: 0 auto;
    }

    &:hover,
    &:active {
      .wiki-post-line {
        width: 61.8%;
      }
    }
  }
}
