<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include navigation.html %}

    <main>
      {{ content }}
    </main>

    {% include widgets.html %}

    {% include footer.html %}
  </body>
  <!-- LaTex Display -->
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script type="text/javascript" id="MathJax-script" async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
  </script>
  <script>
  MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']]
    }
  };
  </script>

  <!-- sakana widget -->
  <script>
    function initSakanaWidget() {
      SakanaWidget({ character: 'takina' });
    }
  </script>
  <script
    async
    onload="initSakanaWidget()"
    src="https://cdn.jsdelivr.net/npm/sakana-widget@1.2.0/lib/sakana.min.js"></script>

  <script>
    $('img').on('click', function () {
      var src = $(this).attr('src');
      window.open(src);
    })
  </script>

  <!-- usubeni -->
  <script type="text/javascript" color="232,122,144" opacity="0.6" src="/assets/js/canvas-nest.js"></script>

</html>
