<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include navigation.html %}

    <main>
      {{ content }}
    </main>

    {% include footer.html %}
  </body>
  <!-- LaTex Display -->
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script type="text/javascript" id="MathJax-script" async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
  </script>
  <script>
  MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']]
    }
  };
  </script>

</html>
