---
layout: default
title: "首页"
---

<div class="catalogue">
  {% for post in site.posts %} <!-- paginator -->
    <a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-item">
      <div>
        <div style="display: flex; justify-content: space-between; align-items: center;">
        {% if post.archived != true %}
          <h2 class="catalogue-title">{{ post.title }}</h2>
          <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%d/%m/%Y" }}</time>
        {% else %}
          <h2 class="catalogue-title-archived">{{ post.title }}</h2>
          <time datetime="{{ post.date }}" class="catalogue-time-archived">{{ post.date | date: "%d/%m/%Y" }}</time>
        {% endif %}
        </div>
        {% if post.description %}
          <p class="catalogue-description">Description: {{ post.description }}</p>
        {% else %}
          <p class="catalogue-description">Preview: {{ post.excerpt | strip_html | truncatewords: 30 }}</p>
        {% endif %}
        <div style="justify-content: center; display: flex; text-align: center">
          <div class="catalogue-line"></div>
        </div>
      </div>
    </a>
  {% endfor %}
</div>

<!-- <div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  <span>{{ paginator.page }}</span>
</div> -->

<script>
  function initSakanaWidget() {
    SakanaWidget({ character: 'takina' });
  }
</script>

{% include search.html %}
