---
layout: default
title: "首页"
---

<div class="home-pagination-top">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="arrow">&#8592;</a>
  {% else %}
    <a class="arrow-invalid">&#8592;</a>
  {% endif %}

  <span>Page. {{ paginator.page }}</span>

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="arrow">&#8594;</a>
  {% else %}
    <a class="arrow-invalid">&#8594;</a>
  {% endif %}
</div>

<div class="catalogue">
  {% for post in paginator.posts %}
    <a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-item">
      <div>
        {% if post.archived != true %}
          <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%Y-%m-%d %a" }}</time>
          <h2 class="catalogue-title">{{ post.title }}</h2>
        {% else %}
          <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "Archived, long time ago" }}</time>
          <h2 class="catalogue-title-archived">{{ post.title }}</h2>
        {% endif %}
        <div class="catalogue-line"></div>
      </div>
    </a>
  {% endfor %}
</div>

<div class="home-pagination-bottom">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="arrow">&#8592;</a>
  {% else %}
    <a class="arrow-invalid">&#8592;</a>
  {% endif %}

  <span>Page. {{ paginator.page }}</span>

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="arrow">&#8594;</a>
  {% else %}
    <a class="arrow-invalid">&#8594;</a>
  {% endif %}
</div>

{% include search.html %}
