---
layout: default
title: "首页"
---

<div class="catalogue">
  {% for post in paginator.posts %} <!-- paginator -->
    <a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-item">
      <div>
        <div style="display: flex; justify-content: space-between; align-items: center;">
        {% if post.archived != true %}
          <h2 class="catalogue-title">{{ post.title }}</h2>
          <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%Y/%m/%d" }}</time>
        {% else %}
          <h2 class="catalogue-title-archived">[已归档] {{ post.title }}</h2>
          <time datetime="{{ post.date }}" class="catalogue-time-archived"></time>
        {% endif %}
        </div>
        {% if site.global_flags.enable_homepage_desc %}
          {% if post.description %}
            <p class="catalogue-description">描述：{{ post.description }}</p>
          {% else %}
            <p class="catalogue-description">预览：{{ post.content | strip_html | truncate: 100 }}</p>
          {% endif %}
          <div style="justify-content: center; display: flex; text-align: center">
            <div class="catalogue-line"></div>
          </div>
        {% endif %}
      </div>
    </a>
  {% endfor %}
</div>

<div class="home-pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="arrow">&#8678;</a>
  {% else %}
    <a class="disabled">&#8678;</a>
  {% endif %}
  <span>{{ paginator.page }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="arrow">&#8680;</a>
  {% else %}
    <a class="disabled">&#8680;</a>
  {% endif %}
</div>

