---
layout: default
---

<div class="post">
  <div class="post-info">
    <span>作者</span>
    {% if page.author %}
        {{ page.author }}
        {% if page.source %}
          <br><span>来源</span>
          <a href="{{ page.source }}">{{ page.source }}</a>
        {% endif %}
    {% else %}
        {{ site.author.name }}
    {% endif %}

    {% if page.date %}
      <br>
      <span>于&nbsp;</span><time datetime="{{ page.date }}">{{ page.date | date: "%Y/%m/%d" }}</time>
    {% endif %}

    {% if page.description %}
      <br>
      {{ page.description }}
    {% endif %}
  </div>

  <h1 class="post-title">{{ page.title }}</h1>
  <!-- <h2 class="post-description">{{ page.description }}</h2> -->
  <div class="post-line"></div>

	<div id="toc"></div>

  {{ content }}
</div>

{% if page.comments %}
  {% include disqus_comments.html %}
{% endif %}

<div class="pagination">
  {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  <a href="#" class="top">回到顶部</a>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
<script src="/assets/js/toc.js"></script>

<script type="text/javascript">
	$(document).ready(function() {
    $('#toc').toc();
	});
</script>

{% include goto-top.html %}
