---
layout: default
---

<div class="post">
  <div class="post-info">
    <span>作者</span>
    {% if page.author %}
        {{ page.author }}
        {% if page.source %}
          <br><span>来源</span>
          <a href="{{ page.source }}">{{ page.source }}</a>
        {% endif %}
    {% else %}
        {{ site.author.name }}
    {% endif %}

    {% if page.date %}
      <br>
      <span>始于&nbsp;</span><time datetime="{{ page.date }}">{{ page.date | date: "%Y/%m/%d" }}</time>
      {% if page.archived %}
        <span>，现已归档</span>
      {% endif %}
    {% endif %}

    {% if page.categories %}
      <br>
      <span>分类：{{ page.categories }}</span>
    {% endif %}

    {% if page.tags %}
      <br>
      <span>Tags: [
        {% for t in page.tags %}
          {{ t }}
        {% endfor %}
        ]
      </span>
    {% endif %}

    {% if page.description %}
      <br>
      {{ page.description }}
    {% endif %}
  </div>

  <h1 class="post-title">{{ page.title }}</h1>
  <!-- <h2 class="post-description">{{ page.description }}</h2> -->
  <div class="post-line"></div>

	<div id="toc"></div>

  {{ content }}

  <attr id="__bottom"></attr>
</div>

{% if page.comments %}
  {% include disqus_comments.html %}
{% endif %}

<div class="pagination">
  {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">&#8678;</a>
  {% else %}
    <a class="disabled">&#8678;</a>
  {% endif %}
  <button class="top back-to-top">回到顶部</button>
  {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow">&#8680;</a>
  {% else %}
    <a class="disabled">&#8680;</a>
  {% endif %}
</div>

{% include goto-top.html %}

<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
<script src="/assets/js/toc.js"></script>

<script type="text/javascript">
	$(document).ready(function() {
    $('#toc').toc();
	});
</script>
